<div class="ppt-present">
    <div class="ppt-header">
        <div class="profile_flex">
            <div>
                <img src="../../assets/john.jpg" alt="" id="john">
            </div>
            <div class="desc_block">
                <span>Karthik</span><br>
                <span>RT Number : RT005685</span>
            </div>
        </div>

        <div class="middle">
            <p class="title">ISMS Training</p>
            <p>Description of why these terms and conditions are necessary.</p>
        </div>

    
        <div>
            <img src="../../assets/Robosoft_logo_horizontal.png" alt="" id="logo" >
        </div>

       
    </div>

    <div class="thumbnail">

    </div>

    <div class="tnc">
        <mat-checkbox class="example-margin">I have read all the Terms & Conditions</mat-checkbox>
        <p class="iagree">By clicking the 'I Agree' button you hereby agree to follow all the guidelines mentioned above.</p>
        <button>I Agree</button>
    </div>
        
</div>
<app-footer></app-footer>
