{{hightlight()}}
<nav>
    <ul>
        <li class="pointer" [routerLink]="'/films'"  [routerLinkActive]="active">FILMS</li>
        <li class="pointer" [routerLink]="'/species'" [routerLinkActive]="active">SPECIES</li>
        <li class="pointer" [routerLink]="'/planets'" [routerLinkActive]="active" >PLANETS</li>
        <li class="pointer" [routerLink]="'/characters'"  [routerLinkActive]="active" [ngClass]="active1">CHARACTERS</li>
        <li class="pointer" [routerLink]="'/starships'" [routerLinkActive]="active">STARSHIPS</li>
        <li class="pointer" [routerLink]="'/vehicles'" [routerLinkActive]="active">VEHICLES</li>
    </ul>
</nav>


