.header {
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    justify-content: space-between;
    display: flex;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,0.14);
  }


  #robo{
    margin-left: 110px;
    margin-top: 20px;
  }

  #john{
    width:44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid #D92756;
  }

  .profile{
    display: flex;
    margin-right:10%;
    margin-top: 27px;
    width: auto;
  }

  .profile p{
    /* padding-right: 10px; */
    width:75px;
    height: 50px;
    margin-top: 15px;
    font-size: 16px;
    letter-spacing: 0.15px;
  }
