<div class="outer-footer">
    <div class="footer">
        <div class="row-1">
            <div class="footer_logo">
                <img src="../../assets/footer_logo.png" alt="">
            </div>
            <div>
                <p>TERMS OF USE</p>
            </div>
            <div>
                <p>LEGAL NOTICE
                <p></p>
            </div>
            <div>
                <p>PRIVACY POLICY</p>
            </div>
            <div>
                <p>STAR WARS HELPDESK </p>
            </div>
            <div>
                <p>STAR WARS AT DISNEY STORE</p>
            </div>
        </div>

        <div class="row-2">
            <p id="rights">TM& &COPY; Lucasfilm Ltd. All Rights Reserved</p>
        </div>
    </div>


    <div class="footer-mb">
        <div class="row-1">
                <p>TERMS OF USE</p>
                <p>LEGAL NOTICE</p>
                <p>PRIVACY POLICY</p>
        </div>

        <div class="row-2">
                <p>STAR WARS HELPDESK </p>
                <p>STAR WARS AT DISNEY STORE</p>
        </div>
        <div class="row-2">
            <p id="rights">TM& &COPY; Lucasfilm Ltd. All Rights Reserved</p>
        </div>
    </div>
</div>