<app-navigation></app-navigation>
<div class="outer-body">
    <div class="body">
        <div class="inside-body">
            <div class="image">
                <img [src]="src" alt="">
            </div>
            <div class="image-content">
                <div class="details">
                    <h1>{{details.name}}</h1>
                    <ul>
                        <li><span>Climate :</span>{{details.climate}}</li>
                        <li><span>Diameter : </span>{{details.diameter}}</li>
                        <li><span>Gravity : </span>{{details.gravity}}</li>
                        <li><span>Orbital Period : </span>{{details.orbital_period}}</li>
                        <li><span>Rotation Period : </span>{{details.rotation_period}}</li>
                        <li><span>Population : </span>{{details.population}}</li>
                        <li><span>Surface Water : </span>{{details.surface_water}}</li>
                        <li><span>Terrain : </span>{{details.terrain}}</li>
                        
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
