<app-navigation></app-navigation>
<div class="outer-body">
    <div class="body">
        <div class="inside-body">
            <div class="image">
                <img [src]="src" alt="">
            </div>
            <div class="image-content">
                <div class="details">
                    <h1>{{details.name}}</h1>
                    <ul>
                        <li><span>Average Height :</span>{{details.average_height}}</li>
                        <li><span>Average Lifespan : </span>{{details.average_lifespan}}</li>
                        <li><span>Classification : </span>{{details.classification}}</li>
                        <li><span>Designation : </span>{{details.designation}}</li>
                        <li><span>Eye Colors : </span>{{details.eye_colors}}</li>
                        <li><span>Hair colors : </span>{{details.hair_colors}}</li>
                        <li><span>Language : </span>{{details.language}}</li>
                        <li><span>Skin Colors : </span>{{details.skin_colors}}</li>
                        
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
