<div class="dialog">
    <div class="close">
        <p [mat-dialog-close]="true">X</p>
    </div>
    <h2 mat-dialog-title>Add/Remove Super Admins</h2>

    <div class="row-1">
        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">

        
        <mat-form-field appearance="outline">
            <mat-label>Enter Name</mat-label>
            <input matInput type="text" placeholder="" formControlName="name" name="name" value="">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter Employee Code</mat-label>
            <input matInput type="text" formControlName="empcode" name="empcode" value="">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter Mail ID</mat-label>
            <input matInput type="text" formControlName="mail" name="mail" value="">
        </mat-form-field>

        <button type="submit"  mat-fab aria-label="Example icon button with a delete icon" > 
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="{{editMode ? 'check' : 'add'}}"></mat-icon>
       </button>

    </form>
    </div>


    <hr>

    <div class="admin">
    <div class="row-1" *ngFor="let detail of admin_details">
        <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input matInput type="text" placeholder="" value={{detail.name}} [disabled]="db">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input matInput type="text" value={{detail.empCode}} [disabled]="db">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input matInput type="text" value={{detail.email}} [disabled]="db">
        </mat-form-field>

        <button (click)="editSuperAdmin(detail.id)"  mat-fab aria-label="Example icon button with a delete icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
        </button>
        <button   mat-fab aria-label="Example icon button with a delete icon" (click)="deleteSuperAdmin(detail.id)">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
        </button>
    </div>
    </div>

    <!-- <div class="row-2">
        <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input matInput type="text" placeholder="" value="John">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input matInput type="text" value="RT23456">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input matInput type="text" value="john@robosoftin.com">
        </mat-form-field>

        <button mat-fab aria-label="Example icon button with a delete icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
        </button>
        <button mat-fab aria-label="Example icon button with a delete icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
        </button>

       
    </div> -->

    <div class="update">
        <button [mat-dialog-close]="true">Update</button>
        <button [mat-dialog-close]="true">Cancel</button>
    </div>
</div>