<!-- <div class="no-favs">
    <img src="../../assets/icon_nothing.png" alt="">
    <p>No Favourites added</p>
</div> -->

<div class="status">
    <p>6 city added as favourite</p>
    <p (click)="openDialog()" class="btn">Remove all</p>
</div>

<div class="list ">
    <div class="row d-flex">
        <div class="name">
            <p>Udupi, Karnataka</p>
        </div>
        <div class="d-flex center">
            <img  src="../../assets/icon_mostly_sunny.png" alt="">
            <p class="degree">31<span>&#176;C</span></p>
            <p class="climate">Mostly Sunny</p>
        </div>
        <div>
            <mat-icon matSuffix>favorite</mat-icon>
        </div>
    </div>



    <div class="row d-flex">
        <div class="name"> 
            <p>Bangalore, Karnataka</p>
        </div>
        <div class="d-flex center">
            <img  src="../../assets/icon_rain_small.png" alt="">
            <p class="degree">29<span>&#176;C</span></p>
            <p class="climate">Rain</p>
        </div>
        <div>
            <mat-icon matSuffix>favorite</mat-icon>
        </div>
    </div>   
    
    
    <div class="row d-flex">
        <div class="name">
            <p>Mumbai, Maharashtra</p>
        </div>
        <div class="d-flex center">
            <img  src="../../assets/icon_mostly_cloudy_small.png" alt="">
            <p class="degree">32<span>&#176;C</span></p>
            <p class="climate">Mostly Cloudy</p>
        </div>
        <div>
            <mat-icon matSuffix>favorite</mat-icon>
        </div>
    </div>   
    
    
    <div class="row d-flex">
        <div class="name">
            <p>Kolkatta, West Bengal</p>
        </div>
        <div class="d-flex center">
            <img  src="../../assets/icon_partly_cloudy_small.png" alt="">
            <p class="degree">30<span>&#176;C</span></p>
            <p class="climate">Partly Cloudy</p>
        </div>
        <div>
            <mat-icon matSuffix>favorite</mat-icon>
        </div>
    </div>   
    
    <div class="row d-flex">
        <div class="name">
            <p>Panaji, Cloudy</p>
        </div>
        <div class="d-flex center">
            <img  src="../../assets/icon_thunderstorm_small.png" alt="">
            <p class="degree">31<span>&#176;C</span></p>
            <p class="climate">Thunderstorm</p>
        </div>
        <div>
            <mat-icon matSuffix>favorite</mat-icon>
        </div>
    </div>    <div class="row d-flex">
        <div class="name">
            <p>Newyork, United States</p>
        </div>
        <div class="d-flex center">
            <img  src="../../assets/icon_clear_night_small.png" alt="">
            <p class="degree">24<span>&#176;C</span></p>
            <p class="climate">Clear Night</p>
        </div>
        <div>
            <mat-icon matSuffix>favorite</mat-icon>
        </div>
    </div>    <div class="row d-flex">
        <div class="name">
            <p>Udupi, Karnataka</p>
        </div>
        <div class="d-flex center">
            <img  src="../../assets/icon_mostly_sunny.png" alt="">
            <p class="degree">31<span>&#176;C</span></p>
            <p class="climate">Mostly Sunny</p>
        </div>
        <div>
            <mat-icon matSuffix>favorite</mat-icon>
        </div>
    </div>
</div>