* {
    color: #ffffff;
}

.no-favs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}

.no-favs p {
    margin-top: 2%;
    font-size: 18px;
}

.status {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.16);
    height: 73px;
    align-items: center;
    margin-bottom: 2px;
    position: relative;
}

.row div:first-child {
    margin-left: 15px;
}

.row div:last-child {
    margin-right: 15px;
}

.row .name {
    width: 150px;
}

.center {
    width: 250px;
    justify-content: flex-start;
}

.center img {
    height: 48px;
    width: 48px;
    margin-right: 25px;
}

.degree {
    font-size: 32px;
    font-weight: 500;
    margin-top: 12px;
    margin-right: 20px;

}

.degree span {
    font-size: 16px;
}

.climate {
    font-size: 18px;
    margin-top: 12px;
}

.no-add {
    color: #fff;
}

.add {
    color: var(--yellow);
}

mat-icon {
    position: sticky;
}

.list{
    padding-bottom: 20px;
}

/* Mobile - Screen & Tab */

@media(max-width:768px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    mat-icon {
        position: absolute;
        left: 90%;
        top: 30%;
    }

    .list,
    .status {
        padding: 10px 15px;
    }

    .row .name {
        margin-top: 10px;

    }

    .row #name {
        color: var(--yellow);
        font-weight: 500;
    }

    .center {
        margin-top: -15px;
    }

    .center img {
        margin-right: 0px;
    }

    .degree {
        font-size: 22px;
        margin-right: 12px;
    }

    .climate {
        margin-top: 12px;
        font-size: 16px;
    }
}