/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
}

/* body{
    background: linear-gradient(52.03deg, #7A7FC8 0%, #BD385B 100%);
    max-width:1440px;
    max-height:1138px;
} */


.outer{
    background: linear-gradient(52.03deg, #7A7FC8 0%, #BD385B 100%);
    height: 100vh;
    width: 100%;
}

.homr_outer{
    background-color: #f7f7f7;
    height: 100vh;
    width: 100%;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
