#menu {
    display: none;
}

#ip_search_pc {
    width: 45%;
    position: relative;
}

#ip_search_mobile{
    display: none;
}

#search {
    height: 45px;
    width: 100%;
    color: #fff;
    border: 1px solid #ffffff2f;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.116);
    display: block;
}

#search::placeholder {
    color: #fff;
    font-size: 14px;
    opacity: 1;
}

#icon {
    position: absolute;
    left: 92%;
    bottom: 14%;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

input {
    padding-left: 10px;
}

input:focus {
    outline: none;
}

.close {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

#header,
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
}

hr {
    background-color: #fff;
    border: 1px solid #fff;
    height: 1px;
    margin-top: -2px;
    opacity: 0.4;
}

.navbar ul {
    list-style: none;
    display: flex;
    text-align: center;
    color: white;
    font-family: var(--robo);
    font-size: 13px;
}

.navbar ul li {
    margin-right: 10px;
    padding: 5px 20px;
    cursor: pointer;
}

.active {
    color: var(--yellow);
    border-bottom: 2px solid var(--yellow);

}

#date {
    font-size: 13px;
    color: white;
    font-family: var(--robo);
    margin: 0px 10px !important;
    text-transform: none;
    letter-spacing: 0.5px;
}

.date {
    text-align: center;
    width: auto;
}

.navbar-mobile {
    display: none;
    background-color: #fff;
    width: 270px;
    color: #333;
    height: 100vh;
    position: absolute;
    top: 0px;
    z-index: 100;
    transition: 1s;
}

.navbar-mobile ul {
    padding: 30px;
}

.navbar-mobile ul li {
    list-style: none;
    color: #333;
    border-bottom: 1px solid #fff;
    line-height: 2rem;
}

#close {
    color: #333;
    align-items: flex-end;
}

#search_bg{
    display: none;
}

/* Mobile - Screen & Tab */

@media(max-width:768px) {
   
    #menu {
        display: block;
        cursor: pointer;
        margin-top: 1%;
    }

    #header {
        justify-content: space-around;
    }

    #icon {
        left: 88%;
    }

    .nav-items {
        display: none;
    }

    hr {
        display: none;
    }

    .active {
        color: black;
        font-weight: 500;
        border-bottom: none;
    }

    .navbar-mobile {
        display: none;
    }

    .show {
        display: block;
        transition: 1s;
    }

    .date {
        width: 100%;
        text-align: center;
    }

    #date {
        text-transform: uppercase;
        letter-spacing: 1.5px;
        opacity: 0.6;
    }

    #ip_search_pc {
        display: none;
       
    }
    
    #ip_search_mobile{
        display: block;
        width: 45%;
        position: relative;
    }

    #icon {
        position: absolute;
        left: 88%;
        /* bottom: 4%; */
        top:-14px;
        color: white;
        font-size: 22px;
        cursor: pointer;
        /* z-index: 100; */
    }
    #back{
        color: #333;
        position: absolute;
        top:22px;
        left:20px;
    }

   
    #search_bg{
        position: absolute;
        top:0;
        display: block;
        background-color: #fff;
        width: 100%;
        height: 145%;
        color:black;
        transition: all 1s ease-out;
        z-index:100;

    }

    #search_bg input{
        color:#333;
    }

    #searchBox{
        height: 40px;
        width: 100%;
        color: #fff;
        border: 1px solid #ffffff2f;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.116);
        display: block;
        padding-left: 60px;
        /* font-size: 16px; */
    }
    #iconMobile{
        position: absolute;
        left: 90%;
        top:25px;
        font-size: 22px;
        color:black;
    }

    .bg{
        background-color: #fff;
        height: 70px;
        padding: 3%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


    }


}