

    <nav id="header">

        <div id="menu">
            <mat-icon  matSuffix (click)="bringMenu();">menu</mat-icon>
        </div>

        <div>
            <img src="../../assets/logo_web.png" alt="" id="logo">
        </div>
    
        <div id="ip_search">
            <input type="text" id="search" placeholder="Search city" #city>
            <mat-icon id="icon" matSuffix (click)="searchCity(city.value)">search</mat-icon>
        </div>
    </nav>
    
    
    <div class="navbar">
        <div class="nav-items">
            <ul>
                <li routerLink="/home" [routerLinkActive]="active">HOME</li>
                <li routerLink="/favourites" [routerLinkActive]="active">FAVORITE</li>
                <li routerLink="/recent-searches" [routerLinkActive]="active">RECENT SEARCH</li>
            </ul>
        </div>
        
            <p id="date">{{date | date:"EEE, dd MMM YYYY  HH:MM a"}}</p>
        
    </div>

    <div class="navbar-mobile" [ngClass]="show">

        <p id="close">X</p>
        <div class="nav-items-mobile">
            <ul>
                <li routerLink="/home" [routerLinkActive]="active">Home</li>
                <li routerLink="/favourites" [routerLinkActive]="active">Favorite</li>
                <li routerLink="/recent-searches" [routerLinkActive]="active">Recent Search</li>
            </ul>
        </div>
        
      
        
        
    </div>



    

    <hr>

