<app-plane-header></app-plane-header>
<div class="outer">
    <form>
        <div class="close">
            <p routerLink="/home">X</p>
        </div>
        <div class="login">
            Change Password
        </div>
    
        <div class="ip">
            <div>
                <input type="text" placeholder="Enter New Password">
            </div>
    
            <div>
                <input type="password" placeholder="Re-enter New Password">
            </div>
    
            <div class="btn">
                <button routerLink="/home" type="submit">Update</button>
            </div>
    
            <!-- <div class="forgot-password">
                <a routerLink="/forgot">Forgot Password</a>
            </div> -->
    
        </div>
    </form>
    
</div>

