:root {
    --robo: 'Roboto', sans-serif;
    --yellow : #FFD639;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html {
    background: url('assets/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.d-flex {
    display: flex;
}

.container {
    margin: auto;
    max-width: 900px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#outer-container {
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

button,
.btn {
    cursor: pointer;
}
