*{
    color:#333;
}

.dialog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}
.btns{
    margin-top: 30px;
}
.dialog button{
    
    padding:5px 40px;
    border-collapse: collapse;
    border: none;
    background-color: none;
    height: 35px;
    outline: none;
}
.dialog button:last-child{
    background-color: #F76B1C;
    color:white;
}

p{
    font-size: 15px;
}