<app-navigation></app-navigation>
{{deactivate_previous()}}
{{deactivate_next()}}
<div class="main">

    <div class="characters">
        <ul *ngFor="let detail of details?.results">
            <li [routerLink]="'/planet-details'" (click)="detail_display(details?.results.indexOf(detail))">
                {{detail.name}}</li>

        </ul>
    </div>

    <div class="buttons">
        <div>
            <button (click)="previous()" [ngClass]="deactivate_pre">Previous</button>
            <button (click)="next()" [ngClass]="deactivate_nex">Next</button>
        </div>

    </div>

</div>