<div class="dialog">
    <div class="close">
        <p [mat-dialog-close]="true">X</p>
    </div>
    <h2 mat-dialog-title>Add/Remove Admins</h2>

    <form [formGroup]="reactiveForm" (ngSubmit)="addAdmin();">
    <div class="row-1" >
        <mat-form-field appearance="outline">
            <mat-label>Enter Name</mat-label>
            <input matInput type="text" placeholder="" formControlName="name" name="name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter Employee Code</mat-label>
            <input matInput type="text" formControlName="empCode" name="empCode">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter Mail ID</mat-label>
            <input matInput type="text" formControlName="email" name="email">
        </mat-form-field>

        <button mat-fab aria-label="Example icon button with a delete icon" type="submit">+
        </button>
    </div>
</form>


    <hr>

    <div class="row-1" *ngFor="let detail of admin_details">
        <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input matInput type="text" placeholder="" value="{{detail.name}}">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input matInput type="text" value="{{detail.empCode}}">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label></mat-label>
            <input matInput type="text" value="{{detail.email}}">
        </mat-form-field>

        <button mat-fab aria-label="Example icon button with a delete icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
        </button>
        <button mat-fab aria-label="Example icon button with a delete icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
        </button>
    </div>


    <div class="update">
        <button [mat-dialog-close]="true">Update</button>
        <button [mat-dialog-close]="true">Cancel</button>
    </div>
</div>
