

    <app-navigation></app-navigation >
        {{deactivate_previous()}}
        {{deactivate_next()}}
        <div class="main">

        <div class="characters">
            <ul *ngFor="let detail of details?.results"> 
                <li  [routerLink]="'/vehicle-details'" (click)="detail_display(details?.results.indexOf(detail))">{{detail.name | uppercase}}</li>
        
             </ul>
        </div>
        
        <div class="buttons" *ngIf="details">
            <div>
                <button (click)="previous()" [ngClass]="deactivate_pre">PREVIOUS</button>
                <button (click)="next()" [ngClass]="deactivate_nex">NEXT</button>
            </div>
        
        </div>
        </div>