<div class="current-location">
    <div class="city">
        <h2>{{this.currentCity['name']}}, Karnataka</h2>
        <div class="flex-items">
            <mat-icon matSuffix [innerText]="fb" class="btn" [ngClass]="add" (click)="addToFav();"></mat-icon>
            <p [ngClass]="add" [innerText]="it"></p>
        </div>
    </div>
    

    <div class="location-info">
        <img src="http://openweathermap.org/img/wn/{{weatherIcon}}@2x.png" alt="">
    </div>

    <div class="temperature">
        <p id="temp" *ngIf="celsius">{{temperature | degreeConversion }}</p>
        <p id="temp" *ngIf="farhan">{{temperature}}</p>
        <div id="degree">
            <button (click)="changeToCelsius();" [ngClass]="active1">&#176; C</button>
            <button (click)="changeToFarhan();" [ngClass]="active2">&#176; F</button>

        </div>

    </div>

    <div class="temperature">
        <p id="climate">{{(this.currentCity['weather'][0].main)}}</p>
    </div>
</div>


<div id="footer">
    <hr>

    <div id="more-info-outer" class="d-flex">
        <div class="more-info d-flex">
            <div>
                <img src="../../assets/icon_temperature_info.png" alt="">
            </div>

            <div class="more-info-content">
                <p>Min-Max</p>
                <p>{{(this.currentCity['main'].temp_min | degreeConversion)}}&#176; - {{(this.currentCity['main'].temp_max |
                    degreeConversion)}}&#176;</p>
            </div>
        </div>
        <div class="more-info d-flex">
            <div>
                <img src="../../assets/icon_precipitation_info.png" alt="">
            </div>

            <div class="more-info-content">
                <p>Precipitation</p>
                <p>0%</p>
            </div>
        </div>
        <div class="more-info d-flex">
            <div>
                <img src="../../assets/icon_humidity_info.png" alt="">
            </div>

            <div class="more-info-content">
                <p>Humidity</p>
                <p>{{(this.currentCity['main'].humidity)}}%</p>
            </div>
        </div>
        <div class="more-info d-flex">
            <div>
                <img src="../../assets/icon_wind_info.png" alt="">
            </div>

            <div class="more-info-content">
                <p>Wind</p>
                <p>{{(this.currentCity['wind'].speed)}} mph</p>
            </div>
        </div>
        <div class="more-info d-flex">
            <div>
                <img src="../../assets/icon_visibility_info.png" alt="">
            </div>

            <div class="more-info-content">
                <p>Visibility</p>
                <p>12 mph</p>
            </div>
        </div>

    </div>

</div>