
<app-navigation></app-navigation>

<div class="outer-body">
    <div class="body">
        <div class="inside-body">
            <div class="image">
                <img [src]="src" alt="" id="unsplash">
            </div>
            <div class="image-content">
                <div class="details">
                    <h1>{{details.name}}</h1>
                    <ul>
                        <li><span>Birth year : </span>{{details.birth_year}}</li>
                        <li><span>Eye Color : </span>{{details.eye_color}}</li>
                        <li><span>Gender : </span>{{details.gender}}</li>
                        <li><span>Hair color : </span>{{details.hair_color}}</li>
                        <li><span>Height : </span>{{details.height}}</li>
                        <li><span>Skin Color : </span>{{details.skin_color}}</li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
