<app-navigation></app-navigation>
<div class="outer-body">
    <div class="body">
        <div class="inside-body">
            <div class="image">
                <img [src]="src" alt="">
            </div>
            <div class="image-content">
                <div class="details">
                    <h1>{{details.title}}</h1>
                    <ul>
                        <li><span>Release Date: </span>{{details.release_date}}</li>
                        <li><span>Director : </span>{{details.director}}</li>
                        <li><span>Producer : </span>{{details.producer}}</li>
                        <li><span>Episode Id : </span>{{details.episode_id}}</li>
                        <li><span>Opening Crawl : </span>{{details.opening_crawl}}</li>
                        
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>