<app-navigation></app-navigation>

<div class="outer-body">
    <div class="body">
        <div class="inside-body">
            <div class="image">
                <img [src]="src" alt="">
            </div>
            <div class="image-content">
                <div class="details">
                    <h1>{{details.name}}</h1>
                    <ul>
                        <li><span>MGLT : </span>{{details.MGLT}}</li>
                        <li><span>Cargo Capacity : </span>{{details.cargo_capacity}}</li>
                        <li><span>Consumables : </span>{{details.consumables}}</li>
                        <li><span>Cost in Credits : </span>{{details.cost_in_credits}}</li>
                        <li><span>Crew : </span>{{details.crew}}</li>
                        <li><span>Hyperdrive rating : </span>{{details.hyperdrive_rating}}</li>
                        <li><span>Length : </span>{{details.length}}</li>
                        <li><span>Manufacturer : </span>{{details.manufacturer}}</li>
                        <li><span>Max Atmosphering Speed : </span>{{details.max_atmosphering_speed}}</li>
                        <li><span>Model  : </span>{{details.model}}</li>
                        <li><span>Passengers : </span>{{details.passengers}}</li>
                        <li><span>Starship Class : </span>{{details.starship_class}}</li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
