<div class="no-favs" *ngIf="recent_searches === null">
    <img src="../../assets/icon_nothing.png" alt="">
    <p>No Recent Search</p>
</div>

<div class="status" *ngIf="recent_searches">
    <p>You recently searched for</p>
    <p class="btn" (click)="clearAll()">Clear all</p>



</div>

<div class="list ">
    <div class="row d-flex btn" *ngFor="let search of recent_searches" (click)="redirectToHome(search)">

        <div class="name">
            <p id="name">{{search['name']}}, Karnataka</p>
        </div>
        <div class="d-flex center">
            <img src="http://openweathermap.org/img/wn/{{search['weather'][0].icon}}@2x.png" alt="">
            <p class="degree">{{search['main'].temp | degreeConversion}}<span>&#176;C</span></p>
            <p class="climate">{{search['weather'][0].main}}</p>
        </div>
        <div>



            {{check(search['name'])}}

            <div class="icon btn">
                <mat-icon *ngIf="favB"  matSuffix>favorite_border</mat-icon>
                <mat-icon *ngIf="fav" matSuffix [ngClass]="add">favorite</mat-icon>
            </div>


        </div>
    </div>
</div>