<div class="no-favs" *ngIf="show">
    <img src="../../assets/icon_nothing.png" alt="">
    <p>No Recent Search</p>
</div>

<div class="status"  *ngIf="recent_searches">
    <p>You recently searched for</p>
    <p class="btn" (click)="clearAll()">Clear all</p>



</div>

<div class="list ">
    <div class="row d-flex" *ngFor="let search of recent_searches">
        <div class="name">
            <p>{{search['name']}}, Karnataka</p>
        </div>
        <div class="d-flex center">
            <img src="http://openweathermap.org/img/wn/{{search['weather'][0].icon}}@2x.png" alt="">
            <p class="degree">{{search['main'].temp | degreeConversion}}<span>&#176;C</span></p>
            <p class="climate">{{search['weather'][0].main}}</p>
        </div>
        <div>
            <!-- <mat-icon matSuffix>favorite_border</mat-icon> -->
          
                {{check(search['name'])}}
            
        <mat-icon *ngIf="fav" matSuffix class="add">favorite</mat-icon>
        <mat-icon *ngIf="favB" matSuffix  >favorite_border</mat-icon>


        </div>
    </div>
</div>