<app-plane-header></app-plane-header>
<div class="outer">
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit();">

        <div class="login">
            Login
        </div>

        <div class="ip">
            <div>
                <input type="text" placeholder="Enter Username" formControlName="username" name="username" required>
                <div>
                    <small
                        *ngIf="(reactiveForm.get('username')?.errors?.['required'] && reactiveForm.get('username')?.touched)">Username
                        is required field</small>
                    <small *ngIf="reactiveForm.get('username')?.errors?.['pattern']">Username cannot contain number or special characters</small>

                </div>
            </div>

            <div>
                <input type="password" placeholder="Enter Password" name="password" formControlName="password" required>
                <small
                    *ngIf="reactiveForm.get('password')?.errors?.['required'] && reactiveForm.get('password')?.touched">Password
                    is required field</small>
                    <small *ngIf="reactiveForm.get('password')?.errors?.['pattern']">Username cannot contain characters or special characters</small>
            </div>

            <div class="btn">
                <button type="submit">Login</button>
            </div>

            <div class="forgot-password">
                <a routerLink="/forgot">Forgot Password</a>
            </div>

        </div>
    </form>

</div>